<div class="content">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Data Driven
    </div>
    <div class="panel-body">
      <form class="form-horizontal" (ngSubmit)="onSubmit()" [formGroup]="myForm">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="dd-name" class="col-sm-2 control-label">User Name</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="dd-name" placeholder="UserName" formControlName="username">
            </div>
          </div>
          <div class="form-group">
            <label for="dd-email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="dd-email" placeholder="Email" formControlName="email">
              <div *ngIf="!myForm.controls['userData'].controls['email'].valid">
                Invalid Email
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="dd-password" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" id="dd-password" placeholder="Password" formControlName="password">
          </div>
        </div>

        <!--<div class="form-group">
        <!--<div class="radio" *ngFor="let g of genders">
        <label>   
          <input type="radio" formControlName="gender" [value]="g"> {{g}}      
        </label> </div>
    </div>-->

        <div formArrayName="hobbies">
          <h2>Hobbies</h2>
          <div class="form-group" *ngFor="let item of myForm.controls['hobbies'].controls;let i= index">
            <input type="text" class="form-control" formControlName="{{i}}">
          </div>
        </div>

        <button type="button" class=" btn btn-primary" (click)="onAddHobby()">Add Hobby</button>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>